In [12]:
import pandas as pd
import numpy as np
pd.__version__

'2.2.2'

In [13]:
df260 = pd.read_csv("raw_data/AllPos_acdc_output_bf_260_frames.csv")
spawning = df260.loc[:, ['Cell_ID', 'relative_ID', 'relationship']]
spawning

      Cell_ID  relative_ID relationship
0           1           -1       mother
1           2           -1       mother
2           3           -1       mother
3           1           -1       mother
4           2           -1       mother
...       ...          ...          ...
6839       81           14          bud
6840       82           15          bud
6841       83           56          bud
6842       84           39          bud
6843       85           49          bud

[6844 rows x 3 columns]

In [ ]:
class TreeNode:
    def __init__(self, id):
        self.relative_id = id
        self.children = []
    
    def add_child(self, child_node):
        self.children.append(child_node)
    
    def print_tree(self, level=0):
        print(' ' * 4 * level + f'Node {self.relative_id}')
        for child in self.children:
            child.print_tree(level + 1)

In [ ]:
root = TreeNode(-1)
# Dictionary to map Cell_IDs to TreeNode instances
node_map = { -1: root }

# Set to keep track of added children
added_children = set()
added_children.add(-1)

In [ ]:
# Iterate through the DataFrame and build the tree
for _, frame in spawning.iterrows():
    if frame.Cell_ID not in added_children:
        added_children.add(frame.Cell_ID)
        # Create a new node for the current Cell_ID
        new_node = TreeNode(frame.Cell_ID)
        # Find the parent node using relative_ID
        parent_node = node_map.get(frame.relative_ID, None)
        
        if parent_node:
            # Add the new node as a child to the parent node
            parent_node.add_child(new_node)
            # Map the new node to its Cell_ID in the node_map
            node_map[frame.Cell_ID] = new_node
        else:
            print(f"Parent node with relative_ID {frame.relative_ID} not found for Cell_ID {frame.Cell_ID}")

In [ ]:
root.print_tree()